# **BUSINESS CASE 2: SIEMENS ADVANTA SALES FORECASTING**  


## ðŸŽ“ Masterâ€™s Program in Data Science & Advanced Analytics 
**Nova IMS** | March 2025   
**Course:** Business Cases with Data Science

## ðŸ‘¥ Team **Group A**  
- **Alice Viegas** | 20240572  
- **Bernardo Faria** | 20240579  
- **Dinis Pinto** | 20240612  
- **Daan van Holten** | 20240681
- **Philippe Dutranoit** | 20240518

## ðŸ“Š Goal of the notebook

in this notebook we make the build and test the models for forcasting

# Imports

In [6]:
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from datetime import datetime

from Functions import *

import importlib
imported_module = importlib.import_module("Functions")
importlib.reload(imported_module)

In [11]:
sales_agg1 = pd.read_csv('../data/sales_agg1.csv')
sales_agg3 = pd.read_csv('../data/sales_agg3.csv')
sales_agg4 = pd.read_csv('../data/sales_agg4.csv')
sales_agg5 = pd.read_csv('../data/sales_agg5.csv')
sales_agg6 = pd.read_csv('../data/sales_agg6.csv')
sales_agg8 = pd.read_csv('../data/sales_agg8.csv')
sales_agg9 = pd.read_csv('../data/sales_agg9.csv')
sales_agg11 = pd.read_csv('../data/sales_agg11.csv')
sales_agg12 = pd.read_csv('../data/sales_agg12.csv')
sales_agg13 = pd.read_csv('../data/sales_agg13.csv')
sales_agg14 = pd.read_csv('../data/sales_agg14.csv')
sales_agg16 = pd.read_csv('../data/sales_agg16.csv')
sales_agg20 = pd.read_csv('../data/sales_agg20.csv')
sales_agg36 = pd.read_csv('../data/sales_agg36.csv')

test_set = pd.read_csv('../Data/Case2_Test Set Template.csv', sep=';')

In [12]:
test_set

    Month Year Mapped_GCK  Sales_EUR
0       Mai 22         #3        NaN
1       Jun 22         #3        NaN
2       Jul 22         #3        NaN
3       Aug 22         #3        NaN
4       Sep 22         #3        NaN
..         ...        ...        ...
135     Okt 22         #1        NaN
136     Nov 22         #1        NaN
137     Dez 22         #1        NaN
138     Jan 23         #1        NaN
139     Feb 23         #1        NaN

[140 rows x 3 columns]

In [13]:
month_map = {
    "Jan": 1,
    "Feb": 2,
    "Mai": 3,
    "Jun": 6,
    "Jul": 7,
    "Aug": 8,
    "Sep": 9,
    "Okt": 10,
    "Nov": 11,
    "Dez": 12
}
def parse_month_year(date_string):
    month_abbr = date_string[:3]
    year_suffix = date_string[-2:]
    month_num = month_map.get(month_abbr)

    if not month_num:
        raise ValueError(f"Unknown month abbreviation: {month_abbr}")
    
    return datetime.strptime(f"{month_num} 01 {year_suffix}", "%m %d %y").date()

# Apply conversion safely
test_set['Month Year'] = test_set['Month Year'].apply(parse_month_year)